<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortadaServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.PortadaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoInsertarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.equipo.EquipoInsertarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.equipo.EquipoBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoEditarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.equipo.EquipoEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoModificarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.equipo.EquipoModificarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoEliminarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.equipo.EquipoEliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoNuevoServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.grupo.GrupoNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.grupo.GrupoBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoEliminarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.grupo.GrupoEliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HerramientaNuevoServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.herramienta.HerramientaNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HerramientaBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.herramienta.HerramientaBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HerramientaEliminarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.herramienta.HerramientaEliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoEditarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.grupo.GrupoEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioInsertarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.usuario.UsuarioInsertarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.usuario.UsuarioBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEliminarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.usuario.UsuarioEliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioModificarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.usuario.UsuarioModificarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEditarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.usuario.UsuarioEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HerramientaEditarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.herramienta.HerramientaEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HerramientaActualizarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.herramienta.HerramientaActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoActualizarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.grupo.GrupoActualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriaNuevoServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.historias.HistoriaNuevoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriaBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.historias.HistoriaBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriasBuscarServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.historias.HistoriasBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriaBusquedaServlet</servlet-name>
        <servlet-class>mantenimiento.servlet.historias.HistoriaBusquedaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortadaServlet</servlet-name>
        <url-pattern>/PortadaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoInsertarServlet</servlet-name>
        <url-pattern>/EquipoInsertarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoBuscarServlet</servlet-name>
        <url-pattern>/EquipoBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoEliminarServlet</servlet-name>
        <url-pattern>/EquipoEliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoEditarServlet</servlet-name>
        <url-pattern>/EquipoEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoModificarServlet</servlet-name>
        <url-pattern>/EquipoModificarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoNuevoServlet</servlet-name>
        <url-pattern>/GrupoNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoBuscarServlet</servlet-name>
        <url-pattern>/GrupoBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoEliminarServlet</servlet-name>
        <url-pattern>/GrupoEliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HerramientaNuevoServlet</servlet-name>
        <url-pattern>/HerramientaNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HerramientaBuscarServlet</servlet-name>
        <url-pattern>/HerramientaBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HerramientaEliminarServlet</servlet-name>
        <url-pattern>/HerramientaEliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoEditarServlet</servlet-name>
        <url-pattern>/GrupoEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioInsertarServlet</servlet-name>
        <url-pattern>/UsuarioInsertarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioBuscarServlet</servlet-name>
        <url-pattern>/UsuarioBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEliminarServlet</servlet-name>
        <url-pattern>/UsuarioEliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioModificarServlet</servlet-name>
        <url-pattern>/UsuarioModificarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEditarServlet</servlet-name>
        <url-pattern>/UsuarioEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HerramientaEditarServlet</servlet-name>
        <url-pattern>/HerramientaEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HerramientaActualizarServlet</servlet-name>
        <url-pattern>/HerramientaActualizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoActualizarServlet</servlet-name>
        <url-pattern>/GrupoActualizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriaNuevoServlet</servlet-name>
        <url-pattern>/HistoriaNuevoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriasBuscarServlet</servlet-name>
        <url-pattern>/HistoriasBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriaBusquedaServlet</servlet-name>
        <url-pattern>/HistoriaBusquedaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
